body{
    font-family: 'Josefin Sans' !important;
}

.v-menu{
    background-color: #9c9c9c !important;
}

.v-logo-mini{
    margin-top: 15%;
    margin-bottom: 14%;
}

.v-fondo{
    background-color: #c9c9c9 !important;
}

.v-letra-titulo{
    font-family: Revalia;
    font-size: 50px;
    text-shadow: 5px 0 0 #000;
}

.v-letra-subtitulo{
    font-family: Revalia;
    font-size: 35px;
    color: black !important;
    text-decoration: underline;
}

.v-letra-menu{
    font-family: Montserrat !important;
}

.v-tabla-center *{
    text-align: center;
}

.v-footer{
    margin-top: 0px !important;
    padding-top: 0px !important;
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
}

/* Zona de las camaras */
.v-camara-todo{
    width: 458px;
    /*height: 415px;*/
    height: 450px;
}

.v-camara-video{
    padding-top: 5px !important;
    padding-bottom: 0px !important;
}

.v-camara-nombre{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.v-robot{
    width: 440px;
    padding-left: 20px;
    text-align: center;
}

.btn-robot{
    width: 45px;
    height: 45px;
    margin-bottom: 3px;
}

.v-vel{
    width: 100px !important;
    margin-right: 25px !important;
}

.v-tiempo{
    width: 100px !important;
}
