.v-menu{
    background-color: #9c9c9c !important;
}

.v-logo-mini{
    margin-top: 15%;
    margin-bottom: 14%;
}

.v-fondo{
    background-color: #c9c9c9 !important;
}

.v-letra-titulo{
    font-family: Revalia;
    font-size: 50px;
    text-shadow: 5px 0 0 #000;
}

.v-letra-subtitulo{
    font-family: Revalia;
    font-size: 35px;
    color: black !important;
    text-decoration: underline;
}

.v-letra-menu{
    font-family: Montserrat !important;
}

body{
    font-family: 'Josefin Sans' !important;

}
