
<footer id="footer-todo" class="page-footer indigo v-menu v-footer">
    <!-- <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h5 class="white-text">ATLAS - Aplicaciones de la Tecnología Lte para Aumentar la Seguridad</h5>
                <p class="grey-text text-lighten-4">Retos-Colaboración, RTC-2014-1648-8. Alcatel-Lucent en España, Universidad de La Laguna.</p>
            </div>
        </div>
    </div> -->
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright RoboCAM
            <a class="grey-text text-lighten-4 right" href="http://s.codepen.io/alu0100600674/debug/Kwevod" target="_blank">Jonay Suárez Armas</a>
        </div>
    </div>
</footer>
