<nav>
    <div class="nav-wrapper indigo v-menu">
        <ul class="left">
            <li> <a href="/"> <img id="logo" class="v-logo-mini" src="img/videovigilancia_t.png" width="50px"> </a> </li>
            <li> <a href="http://alu0100600674.github.io/Videovigilancia-web" target="_blank"> Videovigilancia </a> </li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="/live">Directo<span class="live badge_custom">{{livecounter}} </span></a></li>
            <!--<li><a href="/addcamara">Add Camara</a></li>-->
            <!-- Dropdown Trigger -->
            <!-- <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Cámaras<i class="material-icons right">arrow_drop_down</i></a> -->
            <li><a href="/listcamaras">Listado de Cámaras</a></li>
            </li>
        </ul>
    </div>
</nav>

<!-- Dropdown Structure -->
<!-- <ul id="dropdown1" class="dropdown-content">
    <li><a href="/listcamaras">List</a></li>
    <li class="divider"></li>
    <li><a href="/addcamara">Add</a></li>
</ul> -->
<!--<li ng-class="{active:isActive('sass')}" ><a href="sass.html">Sass</a></li>-->
