<nav>
    <div class="nav-wrapper indigo v-menu">
        <ul class="left">
            <li> <a href="/"> <img id="logo" class="v-logo-mini" src="img/videovigilancia_t.png" width="50px"> </a> </li>
        </ul>
        <ul class="right hide-on-med-and-down">

            <% if(session.user){ %>
                <li class="v-letra-menu"><a href="/live">CÁMARAS EN DIRECTO<span class="live badge_custom">{{livecounter}} </span></a></li>
                <li class="v-letra-menu"><a href="/listcamaras">LISTADO DE CÁMARAS</a></li>
            <% } %>

            <li><a href="/contact">CONTACTO</a></li>
            
            <% if(session.user){ %>
                <li><a href="/logout">CERRAR SESIÓN</a></li>
            <% } else { %>
                <li><a href="/login">INICIAR SESIÓN</a></li>
            <% } %>
            <!--<li><a href="/addcamara">Add Camara</a></li>-->
            <!-- Dropdown Trigger -->
            <!-- <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Cámaras<i class="material-icons right">arrow_drop_down</i></a> -->
            
            </li>
        </ul>
    </div>
</nav>

<!-- Dropdown Structure -->
<!-- <ul id="dropdown1" class="dropdown-content">
    <li><a href="/listcamaras">List</a></li>
    <li class="divider"></li>
    <li><a href="/addcamara">Add</a></li>
</ul> -->
<!--<li ng-class="{active:isActive('sass')}" ><a href="sass.html">Sass</a></li>-->
