<% include _head.ejs %>
<body ng-controller="HomeCtrl" class="v-fondo">
<% include _navbar.ejs %>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="center">
                <h5 class="header center white-text v-letra-titulo">Videovigilancia</h5>
                <img id="logo" src="img/videovigilancia_t.png" width="50%" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="/img/fondo1.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 166px, 0px);">
    </div>

</div>
<!-- <div class="container">
    <div class="row" style="margin-top: 100px;">
            <div class="row center">
                <h5 class="header col s12 indigo-text light">

                </h5>
            <div class="row center">
                <img id="logohome" src="img/atlas.jpg" class="img-responsive">
            </div>

        </div>
    </div>
</div> -->

<% include _footer.ejs %>

</body>
</html>
