<% include _head.ejs %>
<body ng-controller="HomeCtrl">
<% include _navbar.ejs %>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="center">
                <h5 class="header center white-text">Airport Video Surveillance</h5>
                <img id="logo" src="img/logo.png" width="50%" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="https://images.unsplash.com/photo-1421789497144-f50500b5fcf0?q=80&fm=jpg&w=1080&fit=max&s=1a170370665da809217acf126011b712"
                alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 166px, 0px);">
    </div>

</div>
<div class="container">
    <div class="row" style="margin-top: 100px;">
            <div class="row center">
                <h5 class="header col s12 indigo-text light">

                </h5>
            <div class="row center">
                <img id="logohome" src="img/atlas.jpg" class="img-responsive">
            </div>

        </div>
    </div>
</div>

<% include _footer.ejs %>

</body>
</html>