<% include _head.ejs %>
<body ng-controller="ListCamarasCtrl" class="v-fondo">
<% include _navbar.ejs %>

<div class="container">
    <div class="row">
        <!-- <br><br> -->
        <h1 class="center indigo-text v-letra-subtitulo"> Cámaras Registradas </h1>
        <br>
    </div>
    <div class="row">
        <div class="col m12 s12">
            <table class="responsive-table bordered v-tabla-center">
                <thead>
                <tr>
                    <th data-field="live"></th>
                    <th data-field="name">Nombre</th>
                    <th data-field="mac">Cámara</th>
                    <!-- <th data-field="ip">IP</th> -->
                    <th data-field="server">URL Streaming</th>
                    <th data-field="startstreaming"></th>
                    <th data-field="startmov"></th>
                    <th data-field="delete"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="camara in camaras">
                    <td>
                        <span id="badge_table" ng-if="camara.online" class="badge_custom live hoverable"></span>
                    </td>
                    <td>{{camara.nickname}}</td>
                    <td>{{camara.name}}</td>
                    <!-- <td>{{camara.ip}}</td> -->
                    <td>{{camara.server}}</td>
                    <td>
                        <a ng-click="startstreaming(camara._id)" class="btn btn-floating waves-effect waves-light green hoverable">
                            <i  class="material-icons">videocam</i>
                        </a>
                    </td>
                    <td>
                        <span ng-if="camara.online == false">
                            <a ng-click="startmov(camara._id)" class="btn btn-floating waves-effect waves-light orange hoverable">
                                <i  class="material-icons">remove_red_eye</i>
                            </a>
                        </span>
                    </td>
                    <td>
                        <a ng-click="delete(camara._id)" class="btn btn-floating waves-effect waves-light red hoverable">
                            <i  class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br><br>
<% include _footer.ejs %>
</body>
</html>
